@charset "CP850";
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 11, ../sass/screen.scss */
body {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  min-width: 18em;
  background-color: #ECAC17;
  /*Breakpoint écran tablettes*/
  /*Breakpoint écran ordinateur*/
}
/* line 38, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/screen.scss */
body header {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background-color: silver;
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: left;
  overflow: hidden;
  text-align: center;
  height: 100px;
  margin-bottom: 3%;
}
/* line 29, ../sass/screen.scss */
body header > h1 {
  font-family: cursive;
  font-size: 2em;
}
/* line 33, ../sass/screen.scss */
body header > a {
  text-decoration: none;
  color: black;
}
/* line 38, ../sass/screen.scss */
body div#galerie {
  width: 93.68421%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  background: #eeeedd;
  border: 1px solid #ddccbb;
  padding: 15px;
}
/* line 44, ../sass/screen.scss */
body div#galerie ul#galerie_mini {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 50, ../sass/screen.scss */
body div#galerie ul#galerie_mini ul#galerie_mini li {
  float: left;
}
/* line 53, ../sass/screen.scss */
body div#galerie ul#galerie_mini ul#galerie_mini li a img {
  margin: 2px 1px;
  border: 1px solid #ddccbb;
}
/* line 58, ../sass/screen.scss */
body div#galerie dl#photo {
  clear: both;
  margin: 0 auto;
}
/* line 62, ../sass/screen.scss */
body div#galerie dl#photo dd {
  margin: 0;
}
/* line 65, ../sass/screen.scss */
body div#galerie dl#photo img {
  border: 1px solid #ddccbb;
  width: 100%;
}
/* line 71, ../sass/screen.scss */
body nav {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  background-color: #F0DE60;
  margin-bottom: 10px;
}
/* line 80, ../sass/screen.scss */
body nav > form > ul {
  list-style-type: none;
  text-align: center;
}
/* line 84, ../sass/screen.scss */
body nav > form > ul > li {
  display: block;
  margin-bottom: 5px;
}
/* line 91, ../sass/screen.scss */
body .but {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  background: black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: orange;
  padding: 1%;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}
/* line 103, ../sass/screen.scss */
body .but:hover {
  background: #FF8D1C;
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: black;
  padding: 1%;
  text-decoration: none;
  text-align: center;
}
/* line 115, ../sass/screen.scss */
body section {
  margin-top: 10px;
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 120, ../sass/screen.scss */
body section > #content > div > p#objet {
  color: blue;
}
/* line 123, ../sass/screen.scss */
body section > #content > div > a {
  text-decoration: none;
  color: black;
}
/* line 127, ../sass/screen.scss */
body section > #content > div > a {
  text-decoration: none;
}
/* line 131, ../sass/screen.scss */
body section > #content > a {
  text-decoration: none;
}
/* line 135, ../sass/screen.scss */
body section > #annonce {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  margin-bottom: 1%;
  padding: 1%;
}
/* line 139, ../sass/screen.scss */
body section > #annonce > a {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-top: 3px;
}
/* line 145, ../sass/screen.scss */
body section > #annonce > a > .Annonce {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 147, ../sass/screen.scss */
body section > #annonce > a > .Annonce > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  height: 200px;
  width: auto;
}
/* line 152, ../sass/screen.scss */
body section > #annonce > a > .Annonce > .desc {
  width: 73.91304%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 154, ../sass/screen.scss */
body section > #annonce > a > .Annonce > .desc > .objet {
  color: blue;
}
/* line 161, ../sass/screen.scss */
body section > #annonce > a:hover {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-decoration: none;
  color: black;
  font-style: bold;
  display: inline-block;
  margin-top: 3px;
  background-color: #F0DE60;
}
/* line 169, ../sass/screen.scss */
body section > #annonce > a:hover > .Annonce {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 172, ../sass/screen.scss */
body section > #annonce > a:hover > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 100%;
  height: auto;
}
/* line 180, ../sass/screen.scss */
body section > #annonce > div img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 100%;
}
/* line 187, ../sass/screen.scss */
body section > a {
  text-decoration: none;
  color: black;
}
/* line 190, ../sass/screen.scss */
body section > a > div.annonce {
  border-bottom: solid black 1px;
}
/* line 192, ../sass/screen.scss */
body section > a > div.annonce > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 20%;
  margin: 5px;
}
/* line 199, ../sass/screen.scss */
body section > a:hover {
  background-color: red;
}
/* line 207, ../sass/screen.scss */
body footer {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-align: center;
  vertical-align: middle;
  background-color: silver;
  margin-left: -5px;
  height: 50px;
  width: 100%;
}
@media (min-width: 42em) and (max-width: 64em) {
  /* line 11, ../sass/screen.scss */
  body {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
  }
  /* line 220, ../sass/screen.scss */
  body nav {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 223, ../sass/screen.scss */
  body nav > form > ul {
    list-style-type: none;
  }
  /* line 226, ../sass/screen.scss */
  body nav > form > ul > li {
    display: inline-block;
  }
  /* line 231, ../sass/screen.scss */
  body a .but {
    width: 48.93617%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64em) {
  /* line 11, ../sass/screen.scss */
  body {
    margin-top: 10px;
    width: 100%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 246, ../sass/screen.scss */
  body div#galerie {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
    background: #eeeedd;
    border: 1px solid #ddccbb;
    padding: 15px;
    text-align: center;
    font: 0.9em Georgia, serif;
  }
  /* line 256, ../sass/screen.scss */
  body ul#galerie_mini {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  /* line 264, ../sass/screen.scss */
  body ul#galerie_mini li {
    float: left;
  }
  /* line 269, ../sass/screen.scss */
  body ul#galerie_mini li a img {
    margin: 2px 1px;
    border: 1px solid #ddccbb;
  }
  /* line 275, ../sass/screen.scss */
  body dl#photo {
    clear: both;
    margin: 0 auto;
  }
  /* line 281, ../sass/screen.scss */
  body dl#photo dt {
    font: italic 2.5em/1.5em Georgia, serif;
    color: #ddccbb;
  }
  /* line 287, ../sass/screen.scss */
  body dl#photo dd {
    margin: 0;
  }
  /* line 292, ../sass/screen.scss */
  body dl#photo img {
    border: 1px solid #ddccbb;
  }
  /* line 296, ../sass/screen.scss */
  body nav {
    width: 74.73684%;
    float: left;
    margin-right: 1.05263%;
    margin-bottom: 2%;
  }
  /* line 300, ../sass/screen.scss */
  body nav > form > ul {
    list-style-type: none;
  }
  /* line 303, ../sass/screen.scss */
  body nav > form > ul > li {
    display: inline-block;
  }
  /* line 310, ../sass/screen.scss */
  body .but {
    width: 17.89474%;
    float: right;
    margin-right: 0;
    background: black;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: orange;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    margin-left: -5px;
    margin-bottom: 10px;
  }
  /* line 323, ../sass/screen.scss */
  body .but:hover {
    background: #FF8D1C;
    width: 17.89474%;
    float: right;
    margin-right: 0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: black;
    padding: 1%;
    text-decoration: none;
    text-align: center;
  }
  /* line 337, ../sass/screen.scss */
  body > #content {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 340, ../sass/screen.scss */
  body > #content > div > p#objet {
    color: blue;
  }
  /* line 343, ../sass/screen.scss */
  body > #content > div > a {
    text-decoration: none;
    color: black;
  }
  /* line 347, ../sass/screen.scss */
  body > #content > div > a {
    text-decoration: none;
  }
  /* line 351, ../sass/screen.scss */
  body > #content > a {
    text-decoration: none;
  }
}
