@charset "CP850";
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 11, ../sass/screen.scss */
body {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  min-width: 18em;
  background-color: #ECAC17;
  /*Breakpoint écran tablettes*/
  /*Breakpoint écran ordinateur*/
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/screen.scss */
body header {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background-image: url("../images/logo1.png");
  background-color: silver;
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: left;
  overflow: hidden;
  text-align: center;
  height: 100px;
  margin-bottom: 3%;
}
/* line 30, ../sass/screen.scss */
body header > h1 {
  font-family: cursive;
  font-size: 2em;
}
/* line 35, ../sass/screen.scss */
body div#galerie {
  width: 93.68421%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  background: #eeeedd;
  border: 1px solid #ddccbb;
  padding: 15px;
}
/* line 41, ../sass/screen.scss */
body div#galerie ul#galerie_mini {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 47, ../sass/screen.scss */
body div#galerie ul#galerie_mini ul#galerie_mini li {
  float: left;
}
/* line 50, ../sass/screen.scss */
body div#galerie ul#galerie_mini ul#galerie_mini li a img {
  margin: 2px 1px;
  border: 1px solid #ddccbb;
}
/* line 55, ../sass/screen.scss */
body div#galerie dl#photo {
  clear: both;
  margin: 0 auto;
}
/* line 59, ../sass/screen.scss */
body div#galerie dl#photo dd {
  margin: 0;
}
/* line 62, ../sass/screen.scss */
body div#galerie dl#photo img {
  border: 1px solid #ddccbb;
  width: 100%;
}
/* line 68, ../sass/screen.scss */
body nav {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  background-color: #F0DE60;
  margin-bottom: 10px;
}
/* line 75, ../sass/screen.scss */
body nav > ul {
  list-style-type: none;
  text-align: center;
}
/* line 79, ../sass/screen.scss */
body nav > ul > li {
  display: block;
  margin-bottom: 5px;
}
/* line 83, ../sass/screen.scss */
body nav #rechercher {
  background: black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: orange;
  padding: 1%;
  text-decoration: none;
}
/* line 92, ../sass/screen.scss */
body nav #rechercher:hover {
  background: #FF8D1C;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: black;
  padding: 1%;
  text-decoration: none;
}
/* line 105, ../sass/screen.scss */
body #but {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  background: black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: orange;
  padding: 1%;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}
/* line 117, ../sass/screen.scss */
body #but:hover {
  background: #FF8D1C;
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: black;
  padding: 1%;
  text-decoration: none;
  text-align: center;
}
/* line 129, ../sass/screen.scss */
body section {
  margin-top: 10px;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 132, ../sass/screen.scss */
body section article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  border: solid black 3px;
  margin-bottom: 1%;
  padding: 1%;
}
/* line 137, ../sass/screen.scss */
body section article > a {
  text-decoration: none;
  color: black;
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  width: 23%;
}
/* line 145, ../sass/screen.scss */
body section article > a > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 100%;
  height: auto;
}
/* line 151, ../sass/screen.scss */
body section article > a:hover {
  text-decoration: none;
  color: black;
  font-style: bold;
  display: inline-block;
  text-align: center;
  margin-top: 3px;
  width: 23%;
  background-color: #F0DE60;
}
/* line 160, ../sass/screen.scss */
body section article > a:hover > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 100%;
  height: auto;
}
/* line 168, ../sass/screen.scss */
body section article > div img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 100%;
}
/* line 175, ../sass/screen.scss */
body section > a {
  text-decoration: none;
  color: black;
}
/* line 178, ../sass/screen.scss */
body section > a > div.annonce {
  border-bottom: solid black 1px;
}
/* line 180, ../sass/screen.scss */
body section > a > div.annonce > img {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  width: 20%;
  margin: 5px;
}
/* line 187, ../sass/screen.scss */
body section > a:hover {
  background-color: red;
}
/* line 192, ../sass/screen.scss */
body section aside {
  display: none;
}
/* line 194, ../sass/screen.scss */
body section aside div {
  margin-bottom: 30px;
  border: solid 1px black;
  min-height: 150px;
}
/* line 202, ../sass/screen.scss */
body footer {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  text-align: center;
  vertical-align: middle;
  background-color: silver;
  margin-left: -5px;
  height: 50px;
  width: 100%;
}
@media (min-width: 42em) and (max-width: 64em) {
  /* line 214, ../sass/screen.scss */
  body header {
    width: 100%;
    float: right;
    margin-right: 0;
    background-image: url("../images/logo1.png");
    background-color: silver;
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: left;
    overflow: hidden;
    text-align: center;
    height: 100px;
    margin-bottom: 3%;
  }
  /* line 226, ../sass/screen.scss */
  body header > h1 {
    font-family: cursive;
    font-size: 2em;
  }
  /* line 236, ../sass/screen.scss */
  body nav {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 238, ../sass/screen.scss */
  body nav > ul {
    list-style-type: none;
  }
  /* line 241, ../sass/screen.scss */
  body nav > ul > li {
    display: inline-block;
  }
  /* line 244, ../sass/screen.scss */
  body nav #rechercher {
    background: black;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: orange;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
  }
  /* line 255, ../sass/screen.scss */
  body nav #rechercher:hover {
    background: orange;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
  }
  /* line 268, ../sass/screen.scss */
  body section {
    width: 100%;
    float: right;
    margin-right: 0;
    margin-left: 15px;
  }
  /* line 271, ../sass/screen.scss */
  body section article {
    width: 100%;
    float: right;
    margin-right: 0;
    border: solid black 3px;
    margin-bottom: 30px;
  }
  /* line 275, ../sass/screen.scss */
  body section article > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    width: 23%;
  }
  /* line 283, ../sass/screen.scss */
  body section article > div#photo_crea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 285, ../sass/screen.scss */
  body section article > div#photo_crea > p {
    width: 100%;
  }
  /* line 288, ../sass/screen.scss */
  body section article > div#photo_crea > img {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  /* line 293, ../sass/screen.scss */
  body section .annonce {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    border-bottom: solid black 1px;
  }
  /* line 296, ../sass/screen.scss */
  body section .annonce > img {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    width: 20%;
    margin: 5px;
  }
  /* line 302, ../sass/screen.scss */
  body section .text {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
    margin-left: 30px;
  }
  /* line 306, ../sass/screen.scss */
  body section .prix {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    vertical-align: middle;
  }
  /* line 309, ../sass/screen.scss */
  body section .prix > p {
    color: silver;
  }
  /* line 313, ../sass/screen.scss */
  body section aside {
    width: 10.6383%;
    float: right;
    margin-right: 0;
  }
  /* line 315, ../sass/screen.scss */
  body section aside div {
    margin-bottom: 30px;
    border: solid 1px black;
    min-height: 150px;
  }
  /* line 323, ../sass/screen.scss */
  body footer {
    width: 100%;
    float: right;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
    background-color: silver;
    height: 100px;
  }
}
@media (min-width: 64em) {
  /* line 335, ../sass/screen.scss */
  body header {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
    background-image: url("../images/logo1.png");
    background-color: silver;
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: left;
    overflow: hidden;
    text-align: center;
    height: 100px;
    margin-bottom: 3%;
  }
  /* line 347, ../sass/screen.scss */
  body header > h1 {
    font-family: cursive;
    font-style: italic;
    font-size: 2em;
  }
  /* line 355, ../sass/screen.scss */
  body div#galerie {
    width: 93.68421%;
    float: left;
    margin-right: 1.05263%;
    background: #eeeedd;
    border: 1px solid #ddccbb;
    padding: 15px;
    text-align: center;
    font: 0.9em Georgia, serif;
  }
  /* line 365, ../sass/screen.scss */
  body ul#galerie_mini {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  /* line 373, ../sass/screen.scss */
  body ul#galerie_mini li {
    float: left;
  }
  /* line 378, ../sass/screen.scss */
  body ul#galerie_mini li a img {
    margin: 2px 1px;
    border: 1px solid #ddccbb;
  }
  /* line 384, ../sass/screen.scss */
  body dl#photo {
    clear: both;
    margin: 0 auto;
  }
  /* line 390, ../sass/screen.scss */
  body dl#photo dt {
    font: italic 2.5em/1.5em Georgia, serif;
    color: #ddccbb;
  }
  /* line 396, ../sass/screen.scss */
  body dl#photo dd {
    margin: 0;
  }
  /* line 401, ../sass/screen.scss */
  body dl#photo img {
    border: 1px solid #ddccbb;
  }
  /* line 405, ../sass/screen.scss */
  body nav {
    width: 74.73684%;
    float: left;
    margin-right: 1.05263%;
    margin-bottom: 2%;
  }
  /* line 408, ../sass/screen.scss */
  body nav > ul {
    list-style-type: none;
  }
  /* line 411, ../sass/screen.scss */
  body nav > ul > li {
    display: inline-block;
  }
  /* line 414, ../sass/screen.scss */
  body nav #rechercher {
    background: black;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: orange;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
  }
  /* line 425, ../sass/screen.scss */
  body nav #rechercher:hover {
    background: orange;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
  }
  /* line 438, ../sass/screen.scss */
  body #but {
    width: 11.57895%;
    float: right;
    margin-right: 0;
    background: black;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: orange;
    padding: 1%;
    text-decoration: none;
    text-align: center;
    margin-left: -5px;
    margin-bottom: 10px;
  }
  /* line 451, ../sass/screen.scss */
  body #but:hover {
    background: #FF8D1C;
    width: 11.57895%;
    float: right;
    margin-right: 0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: black;
    padding: 1%;
    text-decoration: none;
    text-align: center;
  }
  /* line 464, ../sass/screen.scss */
  body section {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 466, ../sass/screen.scss */
  body section aside#urgente {
    display: block;
  }
  /* line 469, ../sass/screen.scss */
  body section article {
    width: 36.84211%;
    float: left;
    margin-right: 1.05263%;
    border: solid black 3px;
    margin-bottom: 30px;
    height: 300px;
  }
  /* line 474, ../sass/screen.scss */
  body section article > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    width: 23%;
  }
  /* line 482, ../sass/screen.scss */
  body section article > div#photo_crea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 484, ../sass/screen.scss */
  body section article > div#photo_crea > p {
    width: 100%;
  }
  /* line 487, ../sass/screen.scss */
  body section article > div#photo_crea > img {
    width: 11.57895%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 492, ../sass/screen.scss */
  body section article#texte {
    margin-left: 15px;
    height: 350px;
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 498, ../sass/screen.scss */
  body section article#infos {
    height: 350px;
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 501, ../sass/screen.scss */
  body section article#infos > div#gauche {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 504, ../sass/screen.scss */
  body section article#infos > div#droite {
    width: 49.47368%;
    float: right;
    margin-right: 0;
    margin-left: -5px;
  }
  /* line 509, ../sass/screen.scss */
  body section article#objet {
    width: 100%;
  }
  /* line 511, ../sass/screen.scss */
  body section article#objet > div#gauche {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
  /* line 514, ../sass/screen.scss */
  body section article#objet > div#droite {
    width: 49.47368%;
    float: right;
    margin-right: 0;
    margin-left: -5px;
  }
  /* line 519, ../sass/screen.scss */
  body section div#bouton_crea {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 523, ../sass/screen.scss */
  body section > a > div.annonce {
    width: 62.10526%;
    float: left;
    margin-right: 1.05263%;
    border-bottom: solid black 1px;
  }
  /* line 526, ../sass/screen.scss */
  body section > a > div.annonce > img {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    width: 20%;
    margin: 5px;
  }
  /* line 531, ../sass/screen.scss */
  body section > a > div.annonce > div.text {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
    margin-left: 30px;
  }
  /* line 535, ../sass/screen.scss */
  body section > a > div.annonce > div.prix {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    vertical-align: middle;
  }
  /* line 538, ../sass/screen.scss */
  body section > a > div.annonce > div.prix > p {
    color: silver;
  }
  /* line 544, ../sass/screen.scss */
  body section aside {
    width: 17.89474%;
    float: right;
    margin-right: 0;
  }
  /* line 546, ../sass/screen.scss */
  body section aside a {
    text-decoration: none;
    text-align: center;
    color: black;
  }
  /* line 550, ../sass/screen.scss */
  body section aside a div {
    margin-bottom: 30px;
    border: solid 1px black;
    min-height: 150px;
  }
  /* line 554, ../sass/screen.scss */
  body section aside a div > img {
    width: 100%;
  }
  /* line 562, ../sass/screen.scss */
  body footer {
    width: 100%;
    float: right;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
    background-color: silver;
    height: 100px;
  }
}
