// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: fluid;

$show-grid-backgrounds  : false;

